<div class="body">
    <div class="container">
        <div class="intro">
            <img src="assets/charity.png" alt="Charitable trust">
        </div>
        
        <div class="aboutus">
            <div class="left" #aboutLeft>
                <div class="title"> Know about us </div>
                <div class="heading">We Provide a place for children with special needs</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. ‍</div>
                <div class="text"> ‍Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</div>
                <div class="aboutButton">
                    <button type="button" class="button">Learn more</button>
                </div>
            </div>
            <div class="right" [ngStyle]="{'height':aboutLeft.clientHeight + 'px'}">
                <img src="assets/about.png" alt="Orphanage">
            </div>
        </div>

        <div class="services">
            <div class="left" #serviceLeft>
                <div class="title">What we do</div>
                <div class="heading">Some services we provide for our children</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</div>
                <div class="points">
                <ng-container *ngFor="let point of servicePoints">
                    <div class="pointHeading">{{point.heading}}</div>
                    <div class="pointText">{{point.text}}</div>
                </ng-container>
                </div>
            </div>
            <div class="right" [ngStyle]="{'height':serviceLeft.clientHeight + 'px'}" *ngIf="servicePoints">
                <img src="assets/services.png" alt="NGO" >
            </div>
        </div>


        <div class="projects">
            <div class="heading">We are creating a place where children with special needs can thrive</div>
        </div>
    </div>
</div>