<div class="body">
    <div class="container">
        <div class="intro">
            <img src="assets/charity.png" alt="Charitable trust">
        </div>
        
        <div class="aboutus">
            <div class="left">
                <div class="title"> Know about us </div>
                <div class="heading">We Provide a place for children with special needs</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. ‍</div>
                <div class="text"> ‍Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</div>
                <div class="aboutButton">
                    <button type="button">Learn more</button>
                </div>
            </div>
            <div class="right">
                <img src="assets/about.png" alt="Orphanage">
            </div>
        </div>
    </div>
</div>