
<section class="home">
    <div class="mob-img">
        <img src="assets/headerbg.png" alt="">
    </div>
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <div class="heading">
                            <h1>Inclusive care for children with special needs</h1>
                        </div>
                        <div class="btn-container">
                            <button class="btn my-btn" (click)="aboutUs()">What we do</button>
                            <button class="btn my-btn video-btn">
                                <!-- <img src="assets/playicon.png" alt=""> -->
                                Donate 
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="header-bottom">
                    <p>230 children under our care</p>
                    <hr>
                    <p>58 donations collected</p>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us" id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <div class="line-text">
                            <div class="line-text">
                                <img src="assets/Line.png" alt="">
                            </div>
                            <span class="title">Know about us</span>
                        </div>
                        <h1>We Provide a place for children with special needs</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. ‍</p>
                        <p> ‍Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                        <div class="aboutButton">
                            <button class="btn my-btn about-btn">Learn more</button>
                        </div>
                    </div>

                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="about-img">
                        <img src="assets/aboutvideo.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row mt-5 pt-3">
                <div class="supporters">
                    <div class="row">
                        <div class="supporter-title">
                            <span class="title">Our Supporters</span>
                            <hr>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col">
                                    <div class="supporter-img">
                                        <img src="assets/supporter1.png" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="supporter-img">
                                        <img src="assets/supporter2.png" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="supporter-img">
                                        <img src="assets/supporter3.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col">
                                    <div class="supporter-img">
                                        <img src="assets/supporter4.png" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="supporter-img">
                                        <img src="assets/supporter5.png" alt="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="supporter-img">
                                        <img src="assets/supporter6.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="what-we-do">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="what-we-do-img">
                        <img src="assets/services.png" alt="">
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="content">
                        <div class="line-text">
                            <div class="line-text">
                                <img src="assets/Line.png" alt="">
                            </div>
                            <span class="title">What we do</span>
                        </div>
                        <h1>Some services we provide for our children</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. ‍</p>
                        <ul>
                            <ng-container *ngFor="let servicePoint of servicePoints">
                                <li>
                                    <div class="icon">
                                        <img src={{servicePoint.img}} alt="">
                                    </div>
                                    <div class="list-content">
                                        <h4>{{servicePoint.heading}}</h4>
                                        <p>{{servicePoint.text}}</p>
                                    </div>    
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="projects" id="projects">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6">
                    <div class="content">
                        <div class="line-text">
                            <div class="line-text">
                                <img src="assets/Line.png" alt="">
                            </div>
                            <span class="title">Projects we have done</span>
                        </div>
                        <h1>We are creating a place where children with special needs can thrive</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <ng-container *ngFor="let project of projects">
                    <div class="col-md-4">
                        <div class="project-box" [ngStyle]="{'background-image': 'url('+ project.img +')'}">
                            <div class="project-content">
                                <div class="text-area">
                                    <h4>{{project.heading}}</h4>
                                    <p>{{project.text}}</p>
                                </div>
                                <div class="btn-area">
                                    <button class="btn my-btn">Learn More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </section>
    <section class="spend">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content">
                        <h1>How we spend your donations and where it goes</h1>
                        <p>We understand that when you make a donation, you want to know exactly where your money is going and we pledge to be transparent.</p>
                        <div class="row mb-3">
                            <div class="col">
                                <span>
                                    <img src="assets/marker1.png" alt="">
                                    <span>40% child care home</span>
                                </span>
                            </div>
                            <div class="col">
                                <span>
                                    <img src="assets/marker2.png" alt="">
                                    <span>35% cleanliness program</span>
                                </span>
                            </div>
                            <div class="col">
                                <span>
                                    <img src="assets/marker3.png" alt="">
                                    <span>10% helping people</span>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>
                                    <img src="assets/marker4.png" alt="">
                                    <span>10% excursions</span>
                                </span>
                            </div>
                            <div class="col">
                                <span>
                                    <img src="assets/marker5.png" alt="">
                                    <span>5% feeding the poor</span>
                                </span>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="spend-img">
                        <img src="assets/graph.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</section>